
<footer class="footer text-muted text-center border-top">
    <div class="container">
        Copyright &copy; Tutorial @DateTime.Now.Year
        <custom-email my-email="sfktrkl@gmail.com"></custom-email>
    </div>
</footer>

