@{ 
    // Layout is a .cshtml file that is used to provide
    // common structure to other views.
    // RenderBody method is used inside layout file
    // to provide space for other view.
    // Only one RenderBody method can be used in one layout.
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tutorial</title>

    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
</head>
<body>
    <header class="header text-muted text-center border-bottom">
        <nav class="navbar navbar-expand-sm">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="~/images/logo.png" width="30" height="30" />
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/home/welcome">Welcome</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/home/razorviewengine">Razor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/home/aboutus">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/home/contactus">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>
</body>
</html>
