
@{
    // When we return a view from a action method view discovery takes place.
    // To find a view, it looks Views folder, then the contoller folder.
    // /Views/Home/ContollerName.cshtml
    // Otherwise checks the Shared folder.
    // /Views/Shared/ContollerName.cshtml

    ViewData["Title"] = "ContactUs";
    Layout = "_Layout";
}

<h1>Contact us</h1>

