
@{
    // Views are generally returned from an action method.
    // We use ViewResult type to return a view from an action method.

    // A View is responsible from UI, application data representation.
    // Information is displayed in the website using views.
    // A user performs all the actions on a view.
    // Like, click on a button, filling form, listing other UI elements.

    // Views are available inside Views folder at the root.
    // Views are grouped into folder named with application controllers.
    // They are also grouped based on their features.

    ViewData["Title"] = "Home";
}

<h1>Welcome to the tutorial.</h1>
<p>This is the home page of our tutorial.</p>
