@model BookModel
@{
    ViewData["Title"] = "Add New Book";

    // It is possible using form tag helpers
    // to get inputs for the model.
}
<div class="container">
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratulations</strong> You should added new book successfully. <br />
            Click <a asp-controller="Book" asp-action="GetBookFromRepository" asp-route-id="@ViewBag.BookId">here</a> to view the details
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" id="myLoader" style="display:none">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    @{ 
    // This is to apply the ajax form, however it caused validations to be ignored.
    //<form method="post" data-ajax="true" data-ajax-complete="myComplete"
    //      data-ajax-success="mySuccess" data-ajax-failure="myFailure"
    //      data-ajax-loader="#myLoader">
    }
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Author">Author</label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Category"></label>
            <select asp-for="Category" class="form-control" asp-items="ViewBag.Category">
                <option value="">Choose the category</option>
            </select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Language"></label>
            <select asp-for="Language" class="form-control" required>
                <option value="">Choose the language</option>
                <option value="English" selected>English (Global)</option>
                <option value="Turkish">Turkish (cCc)</option>
                <option value="German">German (Merkel Teyze)</option>
                <option value="Hindi">Hindi (Awara hoon)</option>
            </select>
            <span asp-validation-for="Language" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Keyword"></label>
            <select asp-for="Keyword" class="form-control" asp-items="ViewBag.Keyword">
                <option value="">Choose the keyword</option>
            </select>
            <span asp-validation-for="Keyword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Keywords"></label>
            <select asp-for="Keywords" class="form-control" asp-items="ViewBag.Keyword" multiple>
                <option value="">Choose the keyword</option>
            </select>
            <span asp-validation-for="Keywords" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Type"></label>
            <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<TypeEnum>()">
                <option value="">Choose the type</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TotalPages"></label>
            <input asp-for="TotalPages" class="form-control" />
            <span asp-validation-for="TotalPages" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ExtensionId"></label>
            <select asp-for="ExtensionId" class="form-control" asp-items="ViewBag.Extension">
                <option value="">Choose the extension</option>
            </select>
            <span asp-validation-for="ExtensionId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CoverPhoto"></label>
            <div class="custom-file">
                <input asp-for="CoverPhoto" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span asp-validation-for="CoverPhoto" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="GalleryFiles"></label>
            <div class="custom-file">
                <input asp-for="GalleryFiles" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span asp-validation-for="GalleryFiles" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Add book" class="btn btn-primary" />
        </div>
    </form>
</div>

@section scripts {
<script>
    function myComplete(data) {
        console.log("I am complete");
        //console.log(data);
    }
    function mySuccess(data) {
        console.log("I am success");
        //console.log(data);
    }
    function myFailure(data) {
        console.log("I am failure");
        //console.log(data);
    }
</script> 
}

