@{
    ViewData["Title"] = "All books";

    var booksCount = Model.books.Count;
    var randomNumber = new Random().Next(1, booksCount + 1);
    var parameters = new Dictionary<string, string>();
    parameters.Add("id", randomNumber.ToString());
}

<div class="container">
    <div class="row">
        <div class="btn-group">
            <a asp-controller="book" asp-action="GetBookFromRepository"
               asp-all-route-data="@parameters"
               class="btn btn-sm btn-outline-secondary">Random Book</a>
        </div>
        @foreach (var book in Model.books)
        {
            <div class="col-md-4">
                <partial name="_BookThumbnail" model="@book"/>
            </div>
        }
    </div>
</div>

