@{ 
    // To be able to use the View Component
    // there are two ways,
    // @await Component.InvokeAsync("View component name", {Type containing parameters})
    // <vc:[view-component-name] parameter="value"></vc:[view-component-name]>
}

<h1>Top books</h1>
